@font-face {
  font-family: 'Roslindale';
  src: url('RoslindaleDisplayCondensed-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100px 1fr 20px;
  grid-gap: 2px;
  background-color: #1c1c1c;
  overflow: hidden;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #f8f8f8;
  font-family: 'Roslindale', serif;
}

.content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #f8f8f8;
  overflow-y: scroll;
}

.webpage {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #f8f8f8;
}

footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: #f8f8f8;
  text-align: center;
}

iframe {
  border: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-family: 'Roslindale', serif;
  background-color: #f8f8f8;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 2px solid #1c1c1c;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: rgb(134, 134, 134);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  font-family: 'Times New Roman', serif;
  padding: 0 18px;
  background-color: #f8f8f8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: inset 0 -2px 0 #1c1c1c;
}
