@font-face {
  font-family: 'Roslindale';
  src: url('RoslindaleDisplayCondensed-Regular.ttf');
}

* {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100px 1fr 25px;
  grid-gap: 2px;
  background-color: #d72323;
  overflow: hidden;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #f5eded;
  font-family: 'Roslindale', serif;
  transition: background-color 0.4s;
}

.content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #f5eded;
  overflow-y: scroll;
}

.webpage {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #f5eded;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .webpage {
    display: none;
  }
}

footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: #f5eded;
  color: #d72323;
  text-align: center;
  padding: 4px 0 0 0;
  transition: background-color 0.4s;
}

iframe {
  border: none;
}

span {
  color: #d72323;
  text-decoration: underline;
  cursor: pointer;
}

a,
a:active {
  color: #d72323;
}

.chart {
  width: 100%;
  height: 100%;
  display: none;
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#time-chart {
  margin: 10px;
  color: #d72323;
}

.time-image {
  width: 90%;
  object-fit: contain;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  width: 100%;
  height: 50px;
  font-family: 'Roslindale', serif;
  font-size: 30px;
  background-color: #f5eded;
  color: #d72323;
  cursor: pointer;
  padding: 5px 10px 0 10px;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 2px solid #d72323;
  transition: background-color 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
footer:hover,
.header:hover,
.accordion:hover {
  background-color: #d72323;
  color: #ffd615 !important;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  padding: 0 10px;
  background-color: #f5eded;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: inset 0 -2px 0 #d72323;
}

.stretch {
  width: calc(100% - 20px);
  max-width: 700px;
  height: calc(100% - 10px);
  margin: 10px 10px 0 10px;
}

svg {
  font-family: 'Roslindale', serif;
}

text {
  fill: #d72323;
  transition: fill 0.4s;
}

.header:hover text {
  fill: #ffd615;
}

footer:hover a {
  color: #ffd615;
}
